.content-list-pruchase{
    width: 100%;
    height: 100vh;
    background-color: #333;
    overflow-y: scroll;
}

.rgba-content-list-purchase{
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    flex-flow: column;
}

.rgba-content-list-purchase .mc{
    width: 50%;
    text-align: start;
    color: #fff;
    margin-top: 100px;
    font-size: 40px;
}

.content-purchase-info{
    width: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column;
    background: #ccc;
    margin: 10px;
    border-radius: 10px;
}

.content-purchase-info h2{
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 5px;
}

.content-purchase-info h2 ul{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}

.content-purchase-info h2 ul li{
    display: inline-block;
    margin: 5px;
    font-size: 27px;
}

.content-purchase-info ul {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #000;
}

.content-purchase-info ul li{
    display: inline-block;
    margin: 5px 10px;
    font-size: 20px;
}

.content-purchase-info table{
    width: 100%;
}

.content-purchase-info table thead{
    width: 100%;
}

.content-purchase-info table thead tr,.content-purchase-info table tbody tr{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content-purchase-info table thead tr th , .content-purchase-info table tbody tr td{
    width: 15%;
    text-align: center;
}


.content-purchase-info table tbody tr{
    border-bottom: 2px solid #000;
    margin: 10px;

}