.content-movie-list{
    width: 100%;
    height: 100vh;
    background-image: url(../img/3389522.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}


.content-rgba-movie-list{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    overflow-y: scroll;
}


.button-reserve{
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    background:  rgb(55, 56, 58);
    color: #Fff;
}

.button-reserve:hover{
    background: rgb(133, 12, 12);
}
